[Desktop Entry]
Name=F Store
GenericName=Flutter Made Store
Version=1.0.5
Comment=A demo Futter E-commerce project by SIHAB
Icon=f-store
Exec=f-store
Terminal=false
Type=Application
Categories=Utility;Application;ECommerce;Store;